<div class="page-header">
  <p class="pull-right">Logged in as <%= current_user.email %></p>
</div>

<div class="page-header">
  <h1>Live Feed Messages - Awesomeness</h1>
</div>

<ul class='posts'>
  <% @posts.each do |post| %>
    <li class="">
      <%= link_to post.title, post_path(post) %>
    </li>
  <% end %>
</ul>

<div>
  <%= link_to "Add New Post", new_post_path, class: 'btn btn-default' %>
</div>
